.logo--white {
    color: $body-bgc;
  }
  
  .footer {
    background-color: $foot-bgc;
    color: $body-bgc;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .container-footer {
    @media screen and (max-width:1200px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @media screen and (min-width:1200px){
      display: flex;
      flex-direction: row;
      align-items: baseline;
  
    }
   

  }
  
  .tablet-foot-wrapper{
    @media screen and (min-width:768px){
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin-bottom: 60px;
    }
    @media screen and (min-width:1200px){
   margin-bottom: 0;
    }
  }


  /* address */
  
  .address-container {
    @media screen and (max-width:767px){
      margin-bottom: 60px;
    }
    // margin-bottom: 60px;
    
    @media screen and (min-width:768px) and (max-width:1200px){
    margin-right: 165px;
    }
    @media screen and (min-width:1200px) {
    margin-right: 70px;
    flex-grow: 1;
    }
  }
  
  .footer-address-area {
    margin-top: 20px;
  }
  
  .footer-address-area__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width:1200px) {
      align-items: start;
      
    }
  }

  .footer-address-area__link-map {
    color: $body-bgc;
  
    text-decoration: none;
    font-style: normal;
  
    transition: color $transitionsProperty;

    &:hover,
    &:focus {
    color: $accent-color;
    }
  }
  
  .footer-address-area__item:not(:first-child) {
    margin-top: 9px;
  }

  .footer-address-area__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    color: $footer-contacts;
  
    transition: color 250ms $function-time;

    &:hover,
    &:focus {
        color: $accent-color;
    }
  
  }
  
  /* 
  soc-media
  */
  
  .footer-social-media {
    @media screen and (max-width:767px){
      margin-bottom: 60px;
    }
    @media screen and(max-width:1200px) {
      text-align: center;
    }
    @media screen and(min-width:1200px){
      margin-right: 93px;
    }
  }
  
  .foot-soc-title {
    margin-bottom: 20px;
    display: block;
  
    color: $body-bgc;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  .footer-soc-link {
    fill: $body-bgc;
    background-color: $foot-soc-media-bgc;
  }
  
  /* 
  foot subscribe
  */
  .footer-subscribe{
    @media screen and (max-width:1200px){
      text-align: center;
    }
    
  }
  
  .footer-subscribe-area {
    display: flex;
    flex-direction: column;
    @media screen and (min-width:1200px){
      flex-direction: row;
    }
    
  }
  
  .footer-subscribe-area__input {
    margin-bottom: 20px;
  
    padding: 15px 16px;

    @media screen and (min-width:768px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    
    }
    @media screen and (min-width:1200px){
    width: 358px;
    margin-right: 12px;
    }


  
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: inherit;
  
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    transition: border $transitionsProperty;

    &:hover,
    &:focus,
    &:active {
        border: 1px solid $accent-color;
    }
  }
  
  .foot-but{
    margin-left: auto;
    margin-right: auto;
  }

  .footer-subscribe-area__icon {
    margin-left: 10px;
  }
  