  .clients-list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    align-items: center;
    margin: -15px;
    @media screen and (min-width:1200px){
      margin: 0;
      flex-wrap: nowrap;
    }
  }
  
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 2);

    margin: 15px;
  
    @media screen and (min-width:768px) {
      flex-basis: calc((100% - 90px) / 3);
      margin: 15px;
    }
    @media screen and (min-width:1200px){
      margin: 0;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
   
  }
  
  
  
  .clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 15px;

    height: 100%;
    width: 100%;
  
    border: 1px solid $soc-media-bg;
    border-radius: 4px;
  
    transition: border $transitionsProperty;

    &:hover,
    &:focus {
    border: 1px solid $accent-color;
  }
  }
  
  
  .clients-list__icon {
    fill: $soc-media-bg;
    transition: fill $transitionsProperty;

    .clients-list__link:hover &,
    .clients-list__link:focus & {
    fill: $accent-color;
  }
  }
  
  